/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; /* Color de texto más oscuro para mejor contraste */
    line-height: 1.6;
}

/* Encabezado */
header {
    color: #ffffff; /* Texto blanco para contraste */
    background-color: #2c6e49; /* Un verde más oscuro para el fondo */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Menú de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li button {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Texto blanco */
    font-weight: bold;
    padding: 15px 30px;  /* Aumenté el padding para hacer el botón más grande */
    border-radius: 30px;  /* Aumenté el radio de los bordes para hacerlos más redondeados */
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-size: 1.5em;  /* Aumenté el tamaño de la fuente */
}

/* Cambio para el estado hover del botón */
nav ul li button:hover {
    background-color: #333; /* Fondo oscuro al pasar el cursor */
    border-color: #333; /* Borde oscuro */
}

/* Contenido principal */
main {
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el contenido */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #4CAF50; /* Verde oscuro para los encabezados */
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Estilo para las imágenes */
img {
    max-width: 200px; /* Ancho fijo */
    object-fit: cover; /* Mantiene proporciones y recorta si es necesario */
    border-radius: 8px; /* Bordes redondeados */
    display: block; /* Hace que cada imagen sea un bloque */
    margin: 0 auto; /* Centra las imágenes */
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2c6e49; /* Fondo verde oscuro para mayor contraste */
    color: white; /* Texto blanco */
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* Mejora para móviles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        margin: 20px;
        padding: 15px;
    }
}
